@import './wp/required.scss';
@import './base/reset_css.scss';

.bl {
    &-nav {
        font-size: 20px;
        background-color: red;
        height: 90px;
        width: 100vw;
        display: flex;
        justify-content: center;
        flex-direction: column;
        box-sizing: border-box;
        padding: 0 640px;
        position: fixed;

        .bl-nav-cart-content {
            position: absolute;
            top: 0;
            right: 0;
            height: 100vh;
            max-width: 480px;
            width: 100%;
            background-color: chocolate;
            box-sizing: border-box;
            padding: 15px;
        }

        .bl-nav-cart-default-state {
            right: -480px;
        }

        @keyframes nav-cart-open {
            from {
                opacity: 0;
                right: -480px;
            }
            to {
                right: 0px;
                opacity: 100%;
            }
        }

        @keyframes nav-cart-close {
            from {
                right: 0px;
                opacity: 100%;
            }
            to {
                opacity: 0;
                right: -480px;
            }
        }



        .bl-nav-cart-open-state {
            animation: nav-cart-open 0.5s forwards;
        }

        .bl-nav-cart-close-state {
            animation: nav-cart-close 0.5s forwards;
        }

        a {
            text-decoration: none;
            color: #111111;
            cursor: pointer;
        }

        .bl-nav-content {
            display: flex;
            justify-content: space-between;
            flex-direction: row;

            .bl-nav-links {
                display: flex;
                justify-content: space-between;
                flex-direction: row;

                .bl-nav-link {
                    margin: 0 10px;
                }

                .bl-nav-pages {
                    display: flex;
                    justify-content: space-between;
                    flex-direction: row;
                }
            }
        }
    }

    &-button {
        font-size: 15px;
        cursor: pointer;
        font-size: 15px;
        padding: 10px 15px;
        border-radius: 5px;
        border: solid 1px #111111;

        &-primary {
            background-color: #111111;
            color: white;
        }

        &-secondary {
            background-color: rgb(255, 255, 255);
            color: #111111;
        }

        &:hover {
            background-color: #111111;
            color: white;
            opacity: 75%;
        }
    }
}

.invisible {
    &-in-desktop {
        @media screen and (min-width: 900px) {
            display: none;
        }
    }

    &-in-mobile {
        @media screen and (max-width: 899px) {
            display: none;
        }
    }
}

body {
    height: 200vh;
    color: #111111;
    font-size: 0;
}



